# Ignorar archivos de logs generados
datos/*.log
*.log

# Ignorar bases de datos SQLite locales (archivos binarios generados dinámicamente)
*.db
datos/*.db

# Ignorar archivos temporales y entornos de Python
__pycache__/
*.pyc
.venv/
venv/
.env

# Ignorar archivos del sistema operativo
.DS_Store